@import '/src/styles/variables.scss';

p {
    text-align: center;
    padding-top: 35px;
    width: 290px;
}

.reception {
    display: flex;
}

.calendar {
    height: 580px;
}

.nav {
    display: flex;
    width: 560px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.nav-item {
    margin: 30px;
}

.nav-btn {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    border: none;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.8;
    background: $btn-color;
    cursor: pointer;
}

.calendar-body {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 500px;
    display: flex;
}

.empty-item {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.calendar-item {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.calendar-title {
    width: 60px;
    height: 60px;
    margin: 20px;
    font-size: 25px;
    text-align: center;
}

.calendar-btn {
    border-radius: 20px;
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.8;
    background: $btn-color;
    cursor: pointer;
}

.workingdays {
    background: rgb(28,152,184);
    background: linear-gradient(90deg, rgba(28,152,184,0.4990371148459384) 38%, rgba(28,152,184,0.4514180672268907) 100%);
}